<header class="d-flex justify-content-center py-3 mb-4 shadow-sm bg-white">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        routerLink="/home"
        class="nav-link"
        routerLinkActive="active"
        aria-current="page"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/clienti" class="nav-link" routerLinkActive="active"
        >Clienti</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/fatture" class="nav-link" routerLinkActive="active"
        >Fatture</a
      >
    </li>
    <li *ngIf="!isLoggedIn" class="nav-item">
      <a routerLink="/auth/login" class="nav-link" routerLinkActive="active"
        >LogIn</a
      >
    </li>
    <li *ngIf="!isLoggedIn" class="nav-item">
      <a routerLink="/auth/register" class="nav-link" routerLinkActive="active"
        >Register</a
      >
    </li>
    <li *ngIf="isLoggedIn" (click)="logout()" class="nav-item">
      <a class="nav-link" routerLinkActive="active">Log out</a>
    </li>
  </ul>
</header>
