/* You can add global styles to this file, and also import other style files */
.body {
  background-color: rgb(236, 252, 252);
}

.bg-standard {
  background-color: #0dcaf0;
}

.bg-standard-leggero {
  background-color: rgb(236, 252, 252);
}

.bg-attesa {
  background-color: rgb(114, 205, 118);
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
