<section class="container">
  <!-- <div class="input-group m-4 p-2 bg-white shadow-sm rounded">
    <button class="input-group-text bg-standard border-0">
      <i class="bi bi-search text-white"></i>
    </button>
    <input
      type="search"
      class="form-control"
      placeholder="Cerca qui..."
      aria-label="Search"
    />
  </div> -->
  <div class="m-4 d-flex flex-column">
    <div class="m-4">
      <button
        class="btn btn-primary"
        (click)="getAll(1)"
        (click)="resetPage(1)"
      >
        filtra by all
      </button>
    </div>
    <!-- ///////////// -->
    <div class="m-4">
      <button
        class="btn btn-primary"
        (click)="getByRagione(ragioneInput.value, 1)"
        (click)="resetPage(2)"
      >
        filtra by ragione
      </button>
      <input class="mx-3" type="text" #ragioneInput />
    </div>
    <!-- ////////// -->
    <div class="m-4">
      <button
        class="btn btn-primary"
        (click)="getByDataUltimoContatto(data1.value, data2.value, 1)"
        (click)="resetPage(3)"
      >
        filtra by getByDataUltimoContatto
      </button>
      <input class="mx-3" type="text" #data1 />
      <input class="mx-3" type="text" #data2 />
    </div>
    <!-- ////// -->

    <div class="m-4">
      <button
        class="btn btn-primary"
        (click)="getByRangeDataInserimento(dataIn.value, dataOut.value, 1)"
        (click)="resetPage(4)"
      >
        filtra by getByRangeDataInserimento
      </button>
      <input class="mx-3" type="text" #dataIn placeholder="in" />
      <input class="mx-3" type="text" #dataOut placeholder="fin" />
    </div>

    <!-- ///////// -->
    <div class="m-4">
      <button
        class="btn btn-primary"
        (click)="getByRangeFatturatoAnnuale(min.value, max.value, 1)"
        (click)="resetPage(5)"
      >
        filtra getByRangeFatturatoAnnuale
      </button>
      <input class="mx-3" type="text" #min placeholder="min" />
      <input class="mx-3" type="text" #max placeholder="max" />
    </div>
  </div>

  <!-- card -->
  <div class="d-flex">
    <div *ngFor="let cliente of clientiArray">
      <app-badge [cliente]="cliente"></app-badge>
    </div>
  </div>
  <div class="mx-4">
    <ngb-pagination
      [collectionSize]="pageClienti?.totalPages || 0"
      [(page)]="currentPage"
      [pageSize]="pageClienti?.size || 10"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      (pageChange)="onPageChange($event)"
    >
    </ngb-pagination>
  </div>
</section>
