<section class="container">
  <!-- <div class="input-group m-4 p-2 bg-white shadow-sm rounded">
    <button class="input-group-text bg-standard border-0">
      <i class="bi bi-search text-white"></i>
    </button>
    <input
      type="search"
      class="form-control"
      placeholder="Cerca qui..."
      aria-label="Search"
    />
  </div> -->
  <div class="m-4 d-flex flex-column">
    <button
      class="btn btn-primary"
      (click)="getByRagione(ragioneInput.value, currentPage)"
    >
      filtra by ragione
    </button>
    <input type="text" #ragioneInput />
    <!-- ////////// -->
    <button class="btn btn-primary" (click)="getAll(currentPage)">
      filtra by all
    </button>
    <!-- ///////////// -->
    <button
      class="btn btn-primary"
      (click)="getByDataUltimoContatto(data1.value, data2.value, currentPage)"
    >
      filtra by data ultimo
    </button>
    <input type="text" #data1 />
    <input type="text" #data2 />
    <!-- ////// -->

    <button
      class="btn btn-primary"
      (click)="
        getByRangeDataInserimento(dataIn.value, dataOut.value, currentPage)
      "
    >
      filtra by data ins
    </button>
    <input type="text" #dataIn />
    <input type="text" #dataOut />

    <!-- ///////// -->
    <button
      class="btn btn-primary"
      (click)="getByRangeFatturatoAnnuale(min.value, max.value, currentPage)"
    >
      filtra by fatturato
    </button>
    <input type="text" #min />
    <input type="text" #max />
  </div>

  <!-- card -->
  <div class="d-flex">
    <div *ngFor="let cliente of clientiArray">
      <app-badge [cliente]="cliente"></app-badge>
    </div>
  </div>
  <div class="mx-4">
    <ngb-pagination
      [collectionSize]="pageClienti?.totalPages || 0"
      [(page)]="currentPage"
      [pageSize]="pageClienti?.size || 10"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      (pageChange)="onPageChange($event, key)"
    >
    </ngb-pagination>
  </div>
</section>
