<div class="wallet-card m-2 d-flex justify-content-between">
  <div>
    <div class="wallet-icon">
      <img src="{{ cliente.logoAziendale }}" alt="Tron Logo" />
    </div>
    <div class="wallet-title">
      <p class="m-0">{{ cliente.ragioneSociale }}</p>
    </div>
    <div class="wallet-subtitle">
      <p class="m-0">{{ cliente.email }}</p>
    </div>
    <p class="m-0 wallet-subtitle">{{ cliente.telefono }}</p>
  </div>
  <div class="d-flex flex-column">
    <div ngbDropdown container="body">
      <button
        type="button"
        class="btn btn-outline-secondary btn-sm"
        ngbDropdownToggle
      >
        <i class="bi bi-gear-fill"></i>
      </button>
      <div *ngIf="cliente.id" ngbDropdownMenu>
        <button routerLinkActive="router-link-active" ngbDropdownItem>
          Visualizza
        </button>
        <button (click)="edit(cliente.id)" ngbDropdownItem>Modifica</button>
        <div class="dropdown-divider"></div>
        <button (click)="delete(cliente.id)" ngbDropdownItem>Elimina</button>
      </div>
    </div>
  </div>
</div>
