<div class="container text-center py-5 align-items-center">
  <div class="form-card1">
    <div class="form-card2">
      <form [formGroup]="form" (ngSubmit)="registerClienti()" class="form">
        <p class="form-heading">Registrazione Cliente</p>

        <div class="form-field">
          <input
            required=""
            placeholder="Ragione Sociale"
            class="input-field"
            type="text"
            formControlName="ragioneSociale"
          />
          <div
            *ngIf="
              form.get('ragioneSociale')?.invalid &&
              form.get('ragioneSociale')?.touched
            "
            class="text-danger"
          >
            Ragione sociale è richiesta
          </div>
        </div>

        <div class="form-field">
          <input
            required=""
            placeholder="Partita IVA"
            class="input-field"
            type="text"
            formControlName="partitaIva"
          />
          <div
            *ngIf="
              form.get('partitaIva')?.invalid && form.get('partitaIva')?.touched
            "
            class="text-danger"
          >
            Partita IVA è richiesta
          </div>
        </div>

        <div class="form-field">
          <input
            required=""
            placeholder="Email"
            class="input-field"
            type="email"
            formControlName="email"
          />
          <div
            *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
            class="text-danger"
          >
            Email non valida
          </div>
        </div>

        <div class="form-field">
          <input
            placeholder="Data Ultimo Contatto"
            class="input-field"
            type="text"
            formControlName="dataUltimoContatto"
          />
        </div>

        <div class="form-field">
          <input
            required=""
            placeholder="Fatturato Annuale"
            class="input-field"
            type="number"
            formControlName="fatturatoAnnuale"
          />
        </div>

        <div class="form-field">
          <input
            placeholder="PEC"
            class="input-field"
            type="email"
            formControlName="pec"
          />
        </div>

        <div class="form-field">
          <input
            required=""
            placeholder="Telefono"
            class="input-field"
            type="text"
            formControlName="telefono"
          />
        </div>

        <div class="form-field">
          <select class="input-field" formControlName="tipoCliente">
            <option value="" disabled>Seleziona Tipo Cliente</option>
            <option value="PA">PA</option>
            <option value="SAS">SAS</option>
            <option value="SPA">SPA</option>
            <option value="SRL">SRL</option>
          </select>
        </div>

        <div class="form-field">
          <input
            type="file"
            class="input-field"
            (change)="onFileChange($event)"
          />
        </div>

        <!-- Sede Legale -->
        <div formGroupName="sedeLegale">
          <p class="form-heading">Sede Legale</p>
          <div class="form-field">
            <input
              placeholder="Via"
              class="input-field"
              type="text"
              formControlName="via"
            />
          </div>
          <div class="form-field">
            <input
              placeholder="Civico"
              class="input-field"
              type="text"
              formControlName="civico"
            />
          </div>
          <div class="form-field">
            <input
              required=""
              placeholder="Comune"
              class="input-field"
              type="text"
              formControlName="comune"
            />
          </div>
          <div class="form-field">
            <input
              placeholder="CAP"
              class="input-field"
              type="text"
              formControlName="cap"
            />
          </div>
        </div>

        <!-- Sede Operativa -->
        <div formGroupName="sedeOperativa">
          <p class="form-heading">Sede Operativa</p>
          <div class="form-field">
            <input
              placeholder="Via"
              class="input-field"
              type="text"
              formControlName="via"
            />
          </div>
          <div class="form-field">
            <input
              placeholder="Civico"
              class="input-field"
              type="text"
              formControlName="civico"
            />
          </div>
          <div class="form-field">
            <input
              required=""
              placeholder="Comune"
              class="input-field"
              type="text"
              formControlName="comune"
            />
          </div>
          <div class="form-field">
            <input
              placeholder="CAP"
              class="input-field"
              type="text"
              formControlName="cap"
            />
          </div>
        </div>

        <button type="submit" class="sendMessage-btn" [disabled]="form.invalid">
          Conferma
        </button>
      </form>
    </div>
  </div>
</div>
