<section class="container mt-4">
  <div class="d-flex">
    <div
      class="d-flex flex-column flex-shrink-0 px-3 py-4 navSide rounded-4"
      style="width: 280px"
    >
      <div
        class="nav-item align-items-center btn w-100 rounded-3 p-1 text-start fw-semibold text-bg-profile d-flex justify-content-between"
      >
        <div class="d-flex align-items-center">
          <img
            src="{{ profileImg }}"
            class="avatar rounded-3 object-fit-cover"
          />
          <div class="ms-3 fs-5" aria-current="page">{{ name }}</div>
        </div>
        <i class="bi bi-caret-right-fill fs-4"></i>
      </div>
      <hr />
      <p class="text-white fw-">MAIN</p>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a
            class="btn w-100 rounded-4 py-2 px-3 text-start fw-semibold activeSide d-flex align-items-center"
            aria-current="page"
          >
            <i class="bi bi-rocket-takeoff fs-5 me-2"></i>Overview</a
          >
        </li>
        <li>
          <a
            class="btn w-100 rounded-4 py-2 px-3 my-2 text-start fw-semibold text-white d-flex align-items-center"
          >
            <i class="bi bi-app-indicator fs-5 me-2"></i>Notifications</a
          >
        </li>
        <li>
          <a
            class="btn w-100 rounded-4 py-2 px-3 my-2 text-start fw-semibold text-white d-flex align-items-center"
          >
            <i class="bi bi-hourglass fs-5 me-2"></i>Pending
          </a>
        </li>
        <li>
          <a
            class="btn w-100 rounded-4 py-2 px-3 my-2 text-start fw-semibold text-white d-flex align-items-center"
          >
            <i class="bi bi-send fs-5 me-2"></i>Send</a
          >
        </li>
        <li>
          <a
            class="btn w-100 rounded-4 py-2 px-3 my-2 text-start fw-semibold text-white d-flex align-items-center"
          >
            <i class="bi bi-lightbulb fs-5 me-2"></i>Upgrade to premium</a
          >
        </li>
      </ul>
      <hr />
      <p class="text-white fw-">SETTINGS</p>
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a
            class="btn w-100 rounded-4 py-2 px-3 my-2 text-start fw-semibold text-white d-flex align-items-center"
          >
            <i class="bi bi-gear-wide fs-5 me-2"></i>
            Stettings</a
          >
        </li>
        <li>
          <a
            class="btn w-100 rounded-4 py-2 px-3 my-2 text-start fw-semibold text-white d-flex align-items-center"
          >
            <i class="bi bi-info-square fs-5 me-2 text-white"></i>
            Help</a
          >
        </li>
      </ul>
    </div>
    <div class="w-100 ms-4 me-3">
      <div class="d-flex justify-content-between">
        <h1>
          Welcome <span class="text-info">{{ name }}</span>
        </h1>
        <div>
          <button
            routerLink="/fatture/newfattura"
            class="btn btn-close-white bg-white shadow-sm rounded-3 px-3 py-2 mx-2 fw-semibold"
          >
            Add Fattura
            <i class="bi bi-plus-square fw-bolder ms-2"></i>
          </button>
          <button
            routerLink="/clienti/register"
            class="btn btn-close-white bg-white shadow-sm rounded-3 px-3 py-2 mx-2 fw-semibold"
          >
            Add Cliente
            <i class="bi bi-plus-square fw-bolder ms-2"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col bg-white shadow-sm rounded-3 m-3 p-3 hover">
          <h5>Fatture</h5>
          <div class="table-responsive rounded">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>18/11/2019</td>
                  <td>Sarraceno EP 2</td>
                  <td><span class="badge bg-success">Pagata</span></td>
                  <td>USD 810.00</td>
                </tr>
                <tr>
                  <td>18/11/2019</td>
                  <td>Hello Cello</td>
                  <td><span class="badge bg-info">Inviata</span></td>
                  <td>USD 1,575.00</td>
                </tr>
                <tr>
                  <td>10/11/2019</td>
                  <td>:Sarraceno EP 2</td>
                  <td><span class="badge bg-success">Pagata</span></td>
                  <td>USD 1,980.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-end">
            <button routerLink="/fatture" class="btn shadow-sm p-2 py-1 px-2">
              <i class="bi bi-arrows-angle-expand"></i>
            </button>
          </div>
        </div>
        <div class="col bg-white shadow-sm rounded-3 m-3 p-3 h-100">
          <h5>Filtra clienti per:</h5>
          <div class="d-flex flex-column">
            <div class="d-flex flex-wrap gap-2">
              <div class="my-1 p-2 bg-standard-leggero shadow-sm rounded-3">
                <button
                  class="btn bg-info text-white fw-bolder shadow-sm p-auto rounded-3 full"
                  (click)="sendData(1)"
                  routerLink="/clienti"
                >
                  Tutti i Clienti
                </button>
              </div>
              <!-- ///////////// -->
              <div
                class="my-2 d-flex flex-column flex-grow-1 bg-standard-leggero shadow-sm p-2 rounded-3"
              >
                <button
                  class="btn bg-info text-white fw-bolder shadow-sm py-2 px-3 rounded-3"
                  (click)="sendData(2)"
                  routerLink="/clienti"
                >
                  Ragione sociale
                </button>
                <input
                  class="form-control my-2"
                  type="text"
                  [(ngModel)]="data.ragioneSociale"
                  placeholder="Enel"
                />
              </div>
            </div>
            <!-- ////////// -->
            <div class="my-2 bg-standard-leggero shadow-sm p-2 rounded-3">
              <div class="d-flex flex-column flex-grow-1 gap-2">
                <button
                  class="btn bg-info text-white fw-bolder shadow-sm py-2 px-3 rounded-3"
                  (click)="sendData(3)"
                  routerLink="/clienti"
                >
                  Data ultimo contatto
                </button>
                <button
                  class="btn bg-info text-white fw-bolder shadow-sm py-2 px-3 rounded-3"
                  (click)="sendData(4)"
                  routerLink="/clienti"
                >
                  Data inserimento
                </button>
              </div>
              <div>
                <p class="m-0 mt-2 fw-semibold">Inizio</p>
                <input
                  class="form-control mb-2"
                  type="date"
                  [(ngModel)]="data.dataIniziale"
                />
                <p class="m-0 mt-2 fw-semibold">Fine</p>

                <input
                  class="form-control mb-2"
                  type="date"
                  [(ngModel)]="data.dataFinale"
                />
              </div>
            </div>
            <!-- ///////// -->
            <div
              class="my-2 bg-standard-leggero shadow-sm p-2 rounded-3 d-flex"
            >
              <button
                class="btn bg-info text-white fw-bolder shadow-sm rounded-3"
                (click)="sendData(5)"
                routerLink="/clienti"
              >
                Fatturato<br />annuale
              </button>
              <div class="d-flex flex-column flex-grow-1">
                <div class="d-flex">
                  <p class="m-0 mt-2 ms-3 fw-semibold">Da:</p>
                  <input
                    class="m-2 form-control"
                    type="text"
                    [(ngModel)]="data.fatturatoMin"
                    placeholder="1000"
                  />
                </div>
                <div class="d-flex">
                  <p class="m-0 mt-2 pe-1 ms-3 fw-semibold">A:</p>
                  <input
                    class="m-2 form-control"
                    type="text"
                    [(ngModel)]="data.fatturatoMax"
                    placeholder="100000"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
